<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
      <!--  <add name="Cloud_Computing_CMSConnectionString" connectionString="Data Source=localhost;Initial Catalog=Cloud_Computing_CMS;User ID=sa;Password=admin123"
            providerName="System.Data.SqlClient" />-->
    
           <add name="Cloud_Computing_CMSConnectionString" connectionString="Data Source=tcp:cmsnp000055db.database.windows.net,1433;Initial Catalog=cmsnp000055db;Persist Security Info=False;User ID=np000055db;Password=NP000055@Roshan;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
      
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    

      <webServices>
        <protocols>
          <add name="HttpPost"/>
        </protocols>
      </webServices>  


    </system.web>

</configuration>
